section { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $background-color;

    width: 100vw;


    

    .container {
        width: 80%;
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
        

        h1 {
            font-size: $text-xl;
            

            span {
                color: $primary-500;
            }
        }

        h2 {
            font-size: $text-lg;
        }

        h3,
        p {
            font-size: $text-md;
        }

        h1,
        h2,
        h3,
        p {
            font-family: $font-md;
            color: #FFF;
            margin: 0;
        }
    }

    button { 
        width: 15rem;
        height: 4rem;
        background-color: transparent;
        border: .3rem solid #FFF;
        font-family: $font-md;
        font-size: $text-lg;
        font-weight: $font-w800;
        color: #FFF;
        cursor: pointer;

        &:hover {
            background-color: #FFF;
            color: $primary-500;
            transition: all ease 0.7s;
        }
    }
}