section.customers {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0;

    #heading {
      margin-bottom: 200px;
      font-size: $text-xxxl;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 50px;

      .card {
        position: relative;
        display: flex;
        flex-basis: 40%;
        height: 50%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $secondary-600;
        margin-bottom: 50px;

        .img-wrapper {
          position: absolute;
          top: -150px;
          right: 25px;
          width: 50%;
          height: 30vh;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 15px;
          padding: 0 25px;

          h1 {
            padding-top: 50px;
          }
          h3 {
          }
          i {
          }
          p {
            padding-bottom: 50px;
          }
        }
      }
    }
    .bottom {
      align-self: flex-end;
      border-right: 1rem solid #dba81b;
      text-align: right;
      padding-right: 2rem;

      h1 {
        font-family: $font-xl;
        font-size: $text-xxxl;
        color: $secondary-400;
        margin: 0;
        padding: 0;
      }
      h2 {
        margin: 0;
      }
    }
  }
}
